{% extends 'base.html' %}
{% load static %}
<body id="body">
    {% block head %}
    <div class="continer">
        <form method="POST" class="form" id="form">
            {% csrf_token %}
            <h4>Change Password</h4>
            
            {% if messages %}
    
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
    
         
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="new_password"  class="form-control">
               
            </div><br>
            <div class="form-group">
                <label for="password">Re confirm password</label>
                <input type="text" name="confirm_password"   class="form-control">
            </div><br>
            <button class="btn" type="submit">Submit</button>
    
        </form>
    </div>
{% endblock %}